@{
    ViewBag.Title = "Index";
}

@section styles
{
    <link href="~/Content/DataTables/css/jquery.dataTables.css" rel="stylesheet" />
}

<h2>Index</h2>

<form method="POST" id="myForm">
    <table>
        <tr>
            <td>
                <label for="departmentId">Select Department</label>
            </td>
            <td>
                <select name="departmentId" id="departmentId">
                    <option value="">Select...</option>
                    @foreach (var department in ViewBag.Departments)
                    {
                        <option value="@department.DepartmentId">@department.Name</option>
                    }
                </select>
            </td>
        </tr>

        <tr>
            <td><label for="studentId">Select Student</label></td>
            <td>
                <select name="studentId" id="studentId">
                    <option value="">Select...</option>
                </select>
            </td>
        </tr>

        <tr>
            <td></td>
            <td><input type="submit" value="Submit" class="btn btn-default" /></td>
        </tr>
    </table>
</form>

<table class="table table-responsive table-bordered table-hover" id="myTable">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
        </tr>
    </thead>
    <tbody id="tableBody"></tbody>
</table>

@section scripts
{
    <script src="~/Scripts/DataTables/jquery.dataTables.js"></script>
    <script>
        $(document).ready(function () {
            $("#myTable").hide();
            var table = $("#myTable").DataTable();
            $("#departmentId").change(function () {
                $("#myTable").show();
                var deptId = $("#departmentId").val();
                $("#studentId").empty();
                //$("#tableBody").empty();
                table.row().clear().draw(false);
                $("#studentId").append('<option value="">Select...</option>');
                var json = { departmentId: deptId };
                $.ajax({
                    type: "POST",
                    //url: '@Url.Action("GetStudentsByDepartmentId", "Department")',
                    url: '/Department/GetStudentsByDepartmentId',
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(json),
                    success: function (data) {
                        //alert(data);
                        $.each(data, function (key, value) {
                            //alert(value.StudentId);
                            $("#studentId").append('<option value=' + value.StudentId + '>' + value.Name + '</option>');
                            //$("#tableBody").append('<tr><td>' + value.StudentId + '</td><td>' + value.Name + '</td></tr>');
                            table.row.add([
                                value.StudentId,
                                value.Name
                            ]).draw(false);
                        });
                        
                    }
                });
            });
        });
    </script>
}

